main,
article,
aside,
footer,
header {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
#bal img {
  max-width: 100px;
}
.kiemel {
  border: 2px solid red;
  cursor: grab;
}
.displaynone {
  display: none;
}
main {
  display: grid;
  grid-template-areas:
    "h h h"
    "as1 ar as2"
    "f f f";
  grid-template-columns: 1fr 3fr 1fr;
}
header {
  grid-area: h;
}
#bal {
  grid-area: as1;
}
#jobb {
  grid-area: as2;
}
article {
  grid-area: ar;
  display: flex;
  justify-content: center;
  background-image: url("kepek/csonak.png");
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}
article img {
  max-width: 200px;
}
footer {
  grid-area: f;
}
